@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: "Passion One", sans-serif;
    --fonte2: "Permanent Marker", cursive;
    --cor1: #0e0000;
    --cor2: #360000;
    --cor3: #660500;
    --cor4: #f2f2f2;
    --cor5: #8c8c8c;
    --cor6: #0d0d0dd3;  
    
}

html, body {
    min-height: 100vh;
}

body {
    background-color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    min-width: 200px;
    background-color: var(--cor1);
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
}

header > h1 {
    font-family: var(--fonte2);
    text-transform: uppercase;
    font-size: clamp(1.3em, 3.8vw, 3em);
}

nav#navegacao {
    min-width: 200px;
    background-color: var(--cor1);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav#navegacao > a {
    font-size: clamp(0.8em, 2vw, 1.2em);
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 8px;
    border-radius: 8px;
    transition-duration: 0.2s;
}
nav#navegacao > a:hover {
    color: lightgray;
    background-color: rgba(211, 211, 211, 0.045);
    text-decoration: underline;
}

main {
    max-width: 800px;
    min-width: 200px;
    box-sizing: border-box;
    color: var(--cor4);
    margin: 30px auto 30px auto;
}


main > h2 {
    background-color: var(--cor3);

    font-family: var(--fonte1);
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(0.9em, 4vw, 1.8em);

    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    margin-top: 30px;

}

#titulo-formacao {
    margin-top: 0px;
}

section {
    background-color: var(--cor6);
    border: solid var(--cor3);
    padding: 20px;
}

section > p {
    font-size: clamp(0.7em, 2vw, 1.1em);
    line-height: 1.5em;
    text-align: justify;
}

section#formacao > p {
    margin-top: 25px;
}

div#imagem-formacao {
    max-width: 550px;
    margin: auto;
}

div#imagem-formacao img {
    width: 100%;
}

figure > .descricao-imagem{
    color: gray;
    font-size: clamp(8px, 2vw, 11px);
    text-align: center;
}

section#explosao > p {
    margin-bottom: 25px;
}

div#imagem-explosao {
    max-width: 300px;
    margin: auto;
}

div#imagem-explosao img {
    width: 100%;
}

section#ativismo > p {
    margin-bottom: 25px;
}

div#imagem-ativismo {
    text-align: center;
}

div#imagem-ativismo img {
    width: 40%;
}

section#retorno > p {
    margin-bottom: 25px;
}

div#imagem-retorno {
    margin: auto;
    max-width: 600px;
}

div#imagem-retorno img {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: clamp(16px, 1.5vw, 1.1em);
}

footer a {
    color: #660500;
}