@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: "Passion One", sans-serif;
    --cor1: #73030d;
    --cor2: #732f3b;
    --cor3: #f2f2f2;
    --cor4: #8c8c8c;
    --cor5: #0d0d0d;  
}

html, body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor2);
}

header {
    background-color: #73030d;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

header > h1 {
    font-family: var(--fonte1);
    text-transform: uppercase;
    font-size: clamp(1.3em, 3.5vw, 3em);
}

main {
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.695);
    color: var(--cor3);
    border: 1px solid black;
    margin: 30px auto 0px auto;
}

section > h2{
    font-family: var(--fonte1);
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

section div.imagens-banda {
    max-width: 550px;
    margin: auto;
}

div.imagens-banda img {
    width: 100%;
}

div.imagem-album {
    
}

span {
    width: 200px;
    display: block;
}

div.imagem-album img {
    width: 100%;
}